* {
    /* Remove default margins */
    margin: 0;
}

body {
    background-color: #C6B6D7;
    padding: 20px;
    text-align: center;
}

h2 {
    text-align: center;
    padding: 40px;
}

/* Card Container */
.card-row {
    /* Arranges multiple cards horizontally */
    display: flex;
    justify-content: center;
    gap: 24px;
}

/* Blog Card */
.card {
    background-color: white;
    border-radius: 8px;
    padding: 40px;

    display: flex;
    flex-direction: column;
    gap: 28px;
    align-items: center;
}


/* Blog Card Image */
.card img {
    width: 192px;
    height: 192px;
    object-fit: cover;
}


.card button {
    padding: 8px 30px;
    background-color: #0556F3;
    color: white;
    border: none;
    border-radius: 4px;
}
